Repository jenkinsci/workflow-multibranch-plugin, pull requests merged in 2021-11, with the labels that each got.

#143 Update Dependabot configuration
  .github/dependabot.yml
Labels: dependencies

#128 Loosening `JobPropertyStepTest#configRoundTripBuildDiscarder`.
  src/test/java/org/jenkinsci/plugins/workflow/multibranch/JobPropertyStepTest.java
Labels: test

#144 Use container agent in `Jenkinsfile`
  Jenkinsfile
Labels: internal

#124 Added `JobPropertyStepTest.triggerWithParameter`
  src/test/java/org/jenkinsci/plugins/workflow/multibranch/JobPropertyStepTest.java
Labels: test
